@import "~bulma_scss";
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

$base-font-size: 16px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
	font-size: 100%;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#main-content {
	width: 100%;
	display: flex;
	flex: 1 1;
	justify-content: center;
	align-items: center;
}
