$grey: #ddd;

// greys
$off-white: #f7f7f7;
$app-grey-light: #fcfcfc;
$app-grey-font: #5B5B5B;
$app-grey-dark: #424B54;

// colors
$app-green: #06D6A0;
$app-blue: #5C9EAD;
$app-yellow: #F6BD60;
$app-primary: #FF6F6F;
$app-special-white: #EFF1ED;
$app-special-grey: #383F51;
$app-status-red: #EB5E55;
