$font-sizes: (
	'xxs': 8px,
	'xs': 10px,
	'sm': 12px,
	'md': 14px,
	'lg': 16px,
	'xl': 21px,
);

$weights: (
	'light': 300,
	'normal': 400,
	'semi-bold': 500,
	'bold': 700,
);

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }
p	{ font-size: 0.9rem; }

@media screen and (min-width: 601px) {
	h1 { font-size: 5vw; }
	h2 { font-size: 4.7vw; }
	h3 { font-size: 4vw; }
	h4 { font-size: 3.7vw; }
	h5 { font-size: 3vw; }
	h6 { font-size: 2.7vw; }
	p { font-size: 2.4vw; }
}

@media screen and (min-width: 701px){
	p { font-size: 1.05rem }
}

@media screen and (min-width: 1201px) {
	h1 { font-size: 3.7rem; }
	h2 { font-size: 3.5rem; }
	h3 { font-size: 3rem; }
	h4 { font-size: 2.8rem; }
	h5 { font-size: 2.25rem; }
	h6 { font-size: 2rem; }
}
