{
	"presets": ["@babel/env", "@babel/react"],
	"plugins": [
		"syntax-dynamic-import",
		"@babel/plugin-proposal-class-properties",
		[
			"module-resolver",
			{
				"alias": {
					"@root": "./src",
					"@assets": "./src/assets",
					"@shared": "./src/shared",
					"@store": "./src/shared/store",
					"@app-enhancements": "./src/shared/utils/enhanced-components",
					"@setup": "./src/setup",
					"@components": "./src/shared/components",
					"@svgs": "./src/assets/svgs",
					"@redux": "./src/shared/local-redux",
					"@utils": "./src/shared/utils",
					"@pages": "./src/pages",
					"@config": "./src/shared/config",
					"@i18n": "./src/i18n"
				}
			}
		]
	]
}
