{
	"presets": ["@babel/env", "@babel/react"],
	"plugins": [
		"syntax-dynamic-import",
		"@babel/plugin-proposal-class-properties",
		[
			"module-resolver",
			{
				"alias": {
					"@root": "./src",
					"@assets": "./public/assets",
					"@shared": "./src/shared",
					"@store": "./src/shared/store",
					"@sockets": "./src/shared/sockets",
					"@hocs": "./src/shared/higher-order-components",
					"@nucs": "./src/shared/nucs",
					"@setup": "./src/setup",
					"@components": "./src/shared/components",
					"@constants": "./src/shared/constants",
					"@svgs": "./public/assets/svgs",
					"@redux": "./src/shared/local-redux",
					"@utils": "./src/shared/utils",
					"@pages": "./src/pages",
					"@config": "./src/shared/config",
					"@i18n": "./src/i18n"
				}
			}
		]
	]
}
